########################## Security & Sensitive Files #########################
# env
*.env
*.sensitive_env
*.pem
secrets/

############################ Binary and Blob Files ############################
*.pdf
*.tar
*.zip

########################### JavaScript & TypeScript ###########################

### Source Maps & Type Definitions ###
*.js.map
*.ts.map
*.d.ts

### Frameworks ###
## Node.js & Fastify ##
**/node_modules/
**/jspm_packages/

### Package Managers ###
**/.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

## Lock Files ##
pnpm-lock.yaml
bun.lockb
yarn.lock
.yarn-integrity

### Generated & Compiled Code ###
**/javascript/
output.css
examples/typescript-server.js
test/types/index.js
**/dist/

### Cache & Temporary Files ###
**/.npm/
**/.yarn/cache/

#################################### Python ###################################

### Package Managers & Packaging ###
.Python
build/
dist/
lib/
lib64/
sdist/
var/
wheels/
*.whl
.installed.cfg
*.manifest
*.spec

### Version Management ###
.python-version

### Generated & Compiled Code ###
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

### Cache & Temporary Files ###
**/__pycache__/
**/.mypy_cache/

### Virtual Environments ###
**/venv/
**/env/
**/.venv/
**/.env/

############################# Databases & Storage #############################
db.sqlite3
*.db
*.sqlite
*.sqlite3
**/media/

################################ Logs & Debug #################################
*.log
**/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

############################# Backup & Old Files ##############################
*.bak
**/bak/
*.old
**/old/

###################### IDE & Editor Files ######################
### VS Code ###
# **/.vscode
# !.vscode/settings.json
# !.vscode/tasks.json
**/.vscode/launch.json
# !.vscode/extensions.json
**/.history

### JetBrains (IntelliJ IDEA, PyCharm, WebStorm, etc.) ###
**/.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
**/.idea/**/dictionaries/
**/.idea/**/shelf/
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
out/
*.iws

### Vim & Neovim ###
*.swp
*.swo

### Sublime Text ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
# Package control specific files (Sublime Text)
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

### Other Editors ###
sftp-config.json

################################ Apps and Tools ###############################

### JIRA plugin ###
atlassian-ide-plugin.xml

### Obsidian ###
**/.obsidian/

### Jupyter Notebook ###
**/.ipynb_checkpoints/

############################ Operating System Files ###########################
.DS_Store
Thumbs.db
