@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--animate-fadein: fadein 0.5s ease-out 1 forwards;
	@keyframes fadein {
		0% {
			opacity: 0;
		}
		,
		100% {
			opacity: 1;
		}
	}
}

.pong-heading {
	@apply font-bold;
}

.pong-heading-big {
	@apply text-2xl;
}
.pong-heading-indigo {
	@apply text-slate-200/70;
}

/* BUTTONS */
.pong-button {
	@apply cursor-pointer rounded-lg text-center  text-base  font-medium px-2 py-2 text-indigo-900 transition-colors duration-300 hover:text-cyan-400  disabled:cursor-default  disabled:hover:bg-slate-300/10 disabled:bg-slate-300/10 disabled:border-slate-100/0 disabled:opacity-30 disabled:text-slate-400 hover:disabled:text-slate-400 dark:text-amber-50 hover:dark:text-cyan-400   no-underline whitespace-nowrap z-0;
}
.pong-button-primary {
	@apply border-1 hover:dark:text-blue-300 border-blue-600/60 dark:text-blue-400 dark:bg-indigo-900/20 hover:dark:bg-indigo-700/20;
}

.pong-button-secondary {
	@apply transition-colors hover:bg-indigo-900 dark:border-indigo-500 dark:bg-indigo-700 hover:dark:bg-indigo-600;
}

.pong-button-info {
	@apply bg-indigo-300 border-1 border-cyan-400/40 hover:bg-cyan-600 dark:text-cyan-400 dark:bg-cyan-300/10 hover:dark:bg-cyan-500/20;
}

.pong-button-success {
	@apply bg-indigo-300 border-1 border-green-400/40 hover:bg-green-600 dark:text-green-400 dark:bg-green-300/10 hover:dark:bg-green-500/20;
}

.pong-button-error {
	@apply bg-indigo-300 border-1 border-red-400/40 hover:bg-red-600 dark:text-red-400 dark:bg-red-300/10 hover:dark:bg-red-500/20;
}

.pong-button-round {
	@apply rounded-full;
}

.pong-button-special {
	@apply border-2 bg-indigo-300 p-2 text-indigo-900 hover:bg-indigo-900 dark:border-indigo-500 dark:bg-indigo-950 dark:text-indigo-200 dark:hover:bg-indigo-400/30;
}

.pong-button-special-active {
	@apply dark:bg-indigo-400/20;
}

.pong-button-pale {
	@apply bg-neutral-900 text-neutral-50 opacity-70 hover:bg-neutral-700;
}

.pong-nav-link {
	@apply dark:bg-transparent w-full text-slate-400 text-base font-medium;
}

.pong-nav-link-active {
	@apply dark:text-cyan-400;
}

/* menu */

.pong-menu {
	@apply text-base font-bold hover:text-cyan-400 text-slate-400 cursor-pointer disabled:opacity-30 disabled:cursor-default disabled:hover:text-slate-400;
}

.pong-menu-active {
	@apply text-cyan-400;
}

/* input */

.pong-form-input {
	@apply rounded-xl border-1 text-lg border-slate-400 bg-slate-500/50 px-4 py-2 outline-none focus:ring-2  focus:ring-indigo-500 mt-2;
}

.pong-form-label {
	@apply text-sm font-semibold text-slate-400;
}

.pong-form-heading {
	@apply font-bold text-2xl;
}

/* links  */

a {
	@apply underline dark:text-indigo-400;
}

.pong-link {
	@apply no-underline dark:text-slate-300;
}

.pong-badge {
	@apply bg-indigo-600/50 text-base text-slate-400 rounded-full;
}

/* notification */
.pong-notification {
	@apply rounded-sm border-1 text-center mb-2 px-4 py-2;
}

.pong-notification-fade-in {
	@apply animate-fadein;
}

.pong-notification-invisible {
	@apply opacity-0;
}
.pong-notification-visible {
	@apply opacity-100;
}

.pong-notification-info {
	@apply bg-blue-700/30 border-blue-600 text-blue-200;
}

.pong-notification-error {
	@apply bg-rose-700/30 border-rose-600 text-rose-200/90;
}

.pong-notification-success {
	@apply bg-green-700/30 border-green-600 text-green-200;
}

/* big elements */

.pong-card {
	@apply bg-indigo-900/30 rounded-xl border-1 border-indigo-800/50;
}

.pong-card-thick {
	@apply border-4 border-indigo-900;
}

.pong-card-dark {
	@apply bg-indigo-950/80;
}

.pong-card-hover {
	@apply hover:bg-indigo-800/70;
}
