# Node-related
node_modules
npm-debug.log

# Dependency lock files (optional, if COPYing them manually)
# package-lock.json

# Docker-related
# docker-compose.yml
# .dockerignore
# Dockerfile
# docker/

# OS / Editor garbage
.DS_Store
Thumbs.db
*.swp
*.swo
.idea
.vscode

# Prisma DB files (don't copy dev DB into image)
prisma/database/
*.db
*.sqlite

# Compiled output (if not needed in container)
dist/
build/

# Env/config files
.env
.env.*

# Secrets
# apiKey.key
*.key

# Git files
.git
.gitignore
