.glow {
	-webkit-box-shadow: 0px 0px 131px 10px rgba(0, 146, 204, 0.62);
	-moz-box-shadow: 0px 0px 131px 10px rgba(0, 146, 204, 0.62);
	box-shadow: 0px 0px 131px 10px rgba(0, 146, 204, 0.62);
}

.glow-small {
	-webkit-box-shadow: 0px 0px 32px 1px rgba(6, 181, 212, 0.5);
	-moz-box-shadow: 0px 0px 32px 1px rgba(6, 181, 212, 0.5);
	box-shadow: 0px 0px 32px 1px rgba(6, 181, 212, 0.5);
}
.glow-small-hover:hover {
	-webkit-box-shadow: 0px 0px 32px 1px rgba(6, 181, 212, 0.5);
	-moz-box-shadow: 0px 0px 32px 1px rgba(6, 181, 212, 0.5);
	box-shadow: 0px 0px 32px 1px rgba(6, 181, 212, 0.5);
}

@media (hover: none) and (pointer: coarse) {
	.touch-visible {
		visibility: visible !important;
	}
}
